@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300italic,300&subset=latin,latin-ext);
@font-face {
	font-family: 'Glowist';
	src: url(../fonts/Glowist.woff);
}
* {
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: rgb(25,25,25);
}
header {
	background-image: url("../images/cannonball.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	height: 90vh;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
	width: 75%;
	margin: auto;
}
section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
h1,h2 {
	font-family: 'Glowist', serif;
	letter-spacing: .25em;
	color: #E1BA4F;
}
h3 {
	height: 10vh;
}
.clearfix:after {
    clear:both;
    display:block;
    height:0;
    content:".";
    visibility:hidden;
}
.column {
    float: left;
    width: 33.33%;	
}
#nav-bar {
	background-color: rgba(225,225,225,.9);
}
#current-show {
	background: none;

}
#bg-development {
    background-image: url("../images/development.jpg");  
    background-size: cover;
}
#bg-news {
    background-image: url("../images/news.jpg"); 
    background-size: cover;
}
#bg-history {
    background-image: url("../images/joyluck.jpg");
    background-size: cover;
}
#development {
	background-color: rgba(225,225,225,.5);    
}
#news {
    background-color: rgba(225,225,225,.5); 
}
#history {
    background-color: rgba(225,225,225,.5); 
}
#mission {
	background-image: url("../images/beulah.jpg"); 
    background-size: cover;
}



