@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300italic,300&subset=latin,latin-ext);
@font-face {
    font-family: 'Glowist';
    src: url(../fonts/Glowist.woff);
}
* {
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    text-align: center;
}
img {
    width: 100%;
}
header {
    width: 100%;
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
header nav {
    text-align: center;
}
header nav a {
    display: inline-block;
    vertical-align: middle;
/*    max-height: 10vh;*/
    margin: 0 2em;
    color: red;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
main {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}
#current-show {
    background-image: url("../images/lander.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}
#current-show section {
    float: left;
    margin-left: 4em;
}
section {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
/*h1, h2, h3, h4, p, a {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
}*/
.clearfix:after {
    clear:both;
    display:block;
    height:0;
    content:".";
    visibility:hidden;
}
.clearboth {
    clear: both;
}
.column3 {
    float: left;
    width: 25em;
    height: 25em;	
    padding: 1em;
}
.column3 img {
    max-width: 600px;
    margin: auto;
}
.column2 {
    float: left;
    width: 35.5em;
    padding: .25em;
    margin: 1em;
}
.column2 figure {
    float: left;
    width: 17.5em;
    padding: .5em;
}
.column2 > img {
    max-width: 268px;
}
.column2 p {
    height: 17.5em;
    vertical-align: middle;
}
.people {
    float: left;
    width: 40em;
}
.people img {
    max-width: 540px;
}
.people div {
    float: left;
    width: 20em;
}
.nav-social a {
    display: inline-block;
    width: 100px;
}
.nav-social a img {
    max-width: 128px;
}
.wrapper {
    width: 75em;
    margin: auto;
}
.wrap-lg {
    width: 100%;
}
#slideshow > img {
    max-width: 1600px;
}
figcaption {
    font-size: .75em;
}
figcaption .lesser {
    font-size: .75em;
}
form {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
form .label {
    float: left;
    width: 40%;
}
form .button {
    float: right;
    width: 20%;
}
form div label {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin: .25em 0; 
}
form div input {
    display: block;
    text-align: center;
    margin: auto;
    width: 90%;
    font-size: 1.5em;
    padding: .25em;
    border: 1px solid black;
    border-radius: .25em;
}
form div button {
    display: block;
    margin: auto;
/*    font-size: 2em;*/
    font-weight: 600;
    padding: .5em;
    border: 1px solid black;
/*    border-radius: .5em;*/
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
#nav-social-footer a {
    width: 60px;
}
#copyright {
    float: left;
}
#email {
    float: right;
}





