@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300italic,300&subset=latin,latin-ext);
@font-face {
    font-family: 'Glowist';
    src: url(../fonts/Glowist.woff);
}
* {
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    text-align: center;
    color: #45290F;
}
img {
    width: 100%;
}
header {
    background-image: url("../images/lander.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
header nav {
    text-align: center;
    background-color: #FFF;
}
header nav a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2em;
    color: #2B3990;
    text-decoration: none;
}
header nav a:hover {
    font-style: italic;
    color: #5C7936;
}
#current-show {
    width: 28em;
    margin: 6em auto 6em;
    padding: 2em;
    background-color: rgba(245,245,245,.8);
    font-size: 1.5em;
}
#current-show p {
    color: #2B3990;
}
h1, h2 {
    font-family: 'Glowist', cursive, serif;
    letter-spacing: .25em;
    color: #E1BA4F;
}
h1 {
    font-size: 3em;
}
h3 {
    color: #2B3990;
}
h4 {
    color: #5C7936;
}
main {
    background-color: #fff;
    margin: 3em 0;
}
main section {
    float: left;
    width: 33.33%;
    height: 25em;	
    padding: 1em;
}
main section:hover {
    background-color: #E1BA4F;
}
main section img {
    max-width: 600px;
    margin: auto;
}
#process-section {
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
.process {
    width: 62.5em;
    margin: 0 auto 8em;
    padding: 1.25em;
    background-color: rgba(245,245,245,.7);
}
#process-section h2 {
    margin-bottom: 1em;
    padding-top: 4em; 
}
.process figure {
    margin: 0 0 1em;
}
.process figure:first-child {
    margin-top: 1.5em;
}
.process figure figcaption {
    padding: 0 2.5em;
}
.process figure img {
    max-height: 268px;
    float: left;
    width: 25%;
    padding: 1.5em;
}
.process figure img:hover {
    background-color: #fff;
}
#process-section nav {
    background-color: #E1BA4F;
}
#process-section nav a {
    width: 6em;
}
.people {
    width: 95%;
    margin: auto;
    padding: 4em 0 2em;
}
.people img {
    max-width: 540px;
    border-radius: 50%;
}
.people figure {
    float: left;
    width: 18%;
    margin: 1%;
    padding: .5em;
}
footer {
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    padding: 8em 0 2em;
}
footer figure {
    padding: 1em;
    background-color: #fff;
}
footer figure img {
    max-width: 1600px;
}
footer figure figcaption {
    font-size: .75em;
}
.lesser {
    font-size: .75em;
}
footer h2 {
    margin-top: 3em;
    margin-bottom: 40vh;
}
form {
    background-color: rgba(225, 186, 79, .7);
    padding: 1em;
    color: #000;
}
form h3 {
    font-size: 1.5em;
    color: #000;
}
form div {
    float: left;
    width: 40%;
    height: 4.25em;
}
form div label {
    display: block;
    font-size: 1.25em;
    font-weight: 600;
    margin: .25em 0; 
}
form div input {
    display: block;
    margin: auto;
    width: 90%;
    font-size: 1em;
    text-align: center;
    padding: .25em;
    background-color: rgba(255,255,255,.5);
    border: 1px solid black;
    border-radius: .25em;
}
form div input:hover {
    background-color: rgba(255,255,255,1);
}
form button {
    float: right;
    margin-right: 5%;
    font-size: 1.25em;
    font-weight: 600;
    padding: .5em;
    background-color: rgba(255,255,255,.5);
    border: 1px solid black;
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
}
form button:hover {
    background-color: rgba(255,255,255,1);
}
footer nav {
    background-color: rgba(225, 186, 79, .7);
}
footer nav a {
    width: 3em;
}
footer p, a {
    color: #E1BA4F;
}
#location {
    margin: 2em 0;
    font-weight: 600;
}
#copyright {
    float: left;
}
#email {
    float: right;
}
.bold {
    font-weight: 600;
}
.clearfix:after {
    clear:both;
    display:block;
    height:0;
    content:".";
    visibility:hidden;
}
.clearboth {
    clear: both;
}
.nav-social a {
    display: inline-block;
}
.nav-social a img {
    max-width: 128px;
}
.wrapper {
    width: 75em;
    margin: auto;
}
.wrapper-sm {
    width: 50em;
    margin: auto;
}


