@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300italic,300&subset=latin,latin-ext);
@font-face {
    font-family: 'Glowist';
    src: url(../fonts/Glowist.woff);
}
* {
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    text-align: center;
    color: #45290F;
}
img {
    width: 100%;
}
header {
    height: 15vh;
}
header nav {
    text-align: center;
    background-color: #FFF;
}
header nav a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
    color: #2B3990;
    font-size: 1.5em;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: underline;
    color: #5C7936;
}
main {
    background-color: #fff;
}
#lander {
    background-image: url("../images/lander1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 85vh;
}
.wrapper-mini {
    width: 41.5em;
    margin: auto;
    padding: 3em 0;
}
#current-show {
    padding: 2em;
    background-color: rgba(245,245,245,.8);
    font-size: 1.5em;
}
h1, h2 {
    font-family: 'Glowist', cursive, serif;
    letter-spacing: .25em;
    color: #E1BA4F;
}
#current-show h2 {
    color: #2B3990;
}
#current-show p {
    color: #5C7936;
}
h1 {
    font-size: 3em;
    color: #2B3990;
    padding: 2em 0;
}
h2 {
    font-size: 2em;
}
h3 {
    color: #2B3990;
}
h4 {
    color: #5C7936;
}
.wrapper {
    width: 75em;
    margin: auto;
}
#shows section{
    float: left;
    width: 32.33%;
    height: 25em;	
    padding: 1em;
    margin: .5%;
}
/*main section:hover {
    background-color: #E1BA4F;
}*/
#shows section img {
    max-width: 600px;
    margin: auto;
}
#shows section p {
    text-align: left;
}
#gallery {
    background-image: url("../images/bg1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
.wrapper-med {
    width: 62.5em;
    margin: auto;
    padding: 8em 0;
}
#gallery h2 {
    margin-bottom: 1em;
}
.process-pics {
    padding: 1.25em;
    background-color: rgba(245,245,245,.7);
}
.process-pics figure figcaption {
    padding: 1.5em 2.5em .25em;
}
.process-pics figure img {
    max-height: 268px;
    float: left;
    width: 25%;
    padding: 1.5em;
}
.process-pics figure img:hover {
    background-color: #fff;
}
.nav-social a {
    display: inline-block;
}
.nav-social a img {
    max-width: 128px;
}
#gallery nav {
    background-color: #E1BA4F;
}
#gallery nav a {
    width: 6em;
}
.people {
    width: 100%;
    margin: auto;
    padding: 2em 0;
}
.people img {
    max-width: 540px;
    border-radius: 50%;
}
.people figure {
    float: left;
    width: 16%;
    margin: 2%;
    padding: .5em;
}
.people figure figcaption {
    text-align: left;
    border-left: 1px solid #5C7936;
    padding-left: .25em;
}
footer {
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    padding: 8em 1em 2em;
}
footer figure {
    padding: 1em;
    background-color: #fff;
}
footer figure img {
    max-width: 1600px;
}
.lesser {
    font-size: .9em;
}
footer h2 {
    margin-top: 3em;
    margin-bottom: 40vh;
}
.wrapper-sm {
    width: 50em;
    margin: auto;
}
form {
    background-color: rgba(225, 186, 79, .7);
    padding: 1em;
    color: #000;
}
form h3 {
    font-size: 1.5em;
    color: #000;
}
form div {
    float: left;
    width: 40%;
    height: 4.25em;
}
form div label {
    display: block;
    font-size: 1.25em;
    font-weight: 600;
    margin: .25em 0; 
}
form div input {
    display: block;
    margin: auto;
    width: 90%;
    font-size: 1em;
    text-align: center;
    padding: .25em;
    background-color: rgba(255,255,255,.5);
    border: 1px solid black;
    border-radius: .25em;
}
/*form div input:hover {
    background-color: rgba(255,255,255,1);
}*/
form button {
    float: right;
    margin-right: 5%;
    font-size: 1.25em;
    font-weight: 600;
    padding: .5em;
    background-color: rgba(255,255,255,.5);
    border: 1px solid black;
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
}
/*form button:hover {
    background-color: rgba(255,255,255,1);
}*/
footer nav {
    background-color: rgba(225, 186, 79, .7);
}
footer nav a {
    width: 4em;
    margin: .25em;
}
footer p, a {
    color: #E1BA4F;
}
#location {
    margin: 2em 0;
    font-weight: 600;
}
#copyright {
    float: left;
}
#email {
    float: right;
}
.bold {
    font-weight: 600;
}
.clearfix:after {
    clear:both;
    display:block;
    height:0;
    content:".";
    visibility:hidden;
}
@media only screen and (max-width: 75em) {
    .wrapper {
        width: 100%;
    }
    .people figure {
        width: 30.33%;
        margin: 1.5%;
        padding: .5em;
    }
    .people figure img {
        padding: 0 20%;
    }
}
@media only screen and (max-width: 62.5em) {
    .wrapper-med {
        width: 100%;
    }
    #shows {
        width: 75%;
        margin: auto;
    }
    #shows section {
        float: none;
        width: 100%;
        height: auto;   
        padding: 1em;
    }
    #shows section:after {
        clear:both;
        display:block;
        height:0;
        content:".";
        visibility:hidden;
    }
    #shows section img {
        float: left;
        width: 50%;
        margin-right: 5%;
    }
    #shows section h3 {
        float: left;
        width: 45%;
        text-align: left;
    }
    .process-pics figure img {
        padding: 2%;
    }
    #gallery {
        background-image: none;
        background-color: #5C7936;
    }
    .wrapper-med {
        padding: 3em 0;
    }    
    #gallery h2 {
        margin-bottom: 0;
    }
    .process-pics {
        padding: 1em;
        background-color: inherit;
    }
    .people figure {
        width: 45%;
        margin: 2.5%;
    }
    footer {
        padding: 0 0 1em;
        background-image: none;
        background-color: #111;
    }
    footer figure {
        padding: 0;
        background-color: transparent;
    }
    footer figure figcaption {
        color: #fff;
        padding: 0 1em;
    }
    footer h2 {
        margin-bottom: 3em;
        padding: 0 1em;
    }
    footer div {
        padding: 0 1em;
    }
}
@media only screen and (max-width: 50em) {
    .wrapper-sm {
        width: 90%;
        margin: 0 5%;
    }
    #shows {
        padding: 1em 0;
    }
    #shows section img {
        float: none;
        width: 100%;
        margin: auto;
    }
    #shows section h3 {
        float: none;
        width: 100%;
        text-align: center;
    }
    .process-pics figure figcaption {
        float: left;
        width: 66.66%;
        padding: 1em; 
        text-align: left;
    }
    .process-pics figure img {
        width: 33.33%;
        padding: 1em;
    }
}
@media only screen and (max-width: 41.5em) {
    .wrapper-mini {
        width: 100%;
    }
    header nav a {
        font-size: 1.25em;
        margin: 0 .75em;
    }
    #current-show h2 {
        font-size: 1.5em;
    }
    h1 {
        font-size: 2em;
    }
    .process-pics figure figcaption {
        float: none;
        width: 95%;
        margin: 0 2.5%;
        padding: 1em 1em 0; 
        text-align: center;
    }
    .process-pics figure img {
        width: 45%;
        margin: 2.5%;
        padding: 1em;
    }
    .people {
        padding: 0 2em;
    }
    .people figure {
        float: none;
        width: 100%;
        margin: 2em 0;
        padding: 0;
    }
    .people figure:after {
        clear:both;
        display:block;
        height:0;
        content:".";
        visibility:hidden;
    }
    .people figure img {
        float: left;
        width: 33.33%;
        padding: 0;
        margin-right: 3%;
    }
    .people figure h3 {
        float: left;
        width: 63.66%;
        text-align: left;
    }
    .people figure h4 {
        text-align: left;
    }
    .people figure figcaption {
        border-left: none;
        padding-left: 0;
        margin-left: 36.33%;
    }

    form div, form button {
        float: none;
        margin: auto;
    }
    form div {
        width: 100%;
    }

}
@media only screen and (max-width: 32.5em) {
    header nav a {
        font-size: 1em;
        margin: 0 .5em;
    }
    #current-show {
        font-size: 1em;
    }
    #shows section {
        width: 100%;  
        padding: 2em;
    }
    #gallery h2 {
        padding: .25em; 
        margin: .5em auto 0;
    }
    .process-pics figure:first-child {
        margin: 0 auto;
    }
    .people figure {
        float: none;
        width: 90%;
        margin: 2em auto;
    }
    .people figure img {
        float: none;
        width: 90%;
        margin: 5%;
    }
    .people figure h3 {
        float: none;
        width: 100%;
        text-align: center;
    }
    .people figure h4 {
        text-align: center;
    }
    .people figure figcaption {
        margin-left: 0;
    }
    footer h2 {
        font-size: 1.5em;
    }
    #copyright, #email {
        float: none;
        text-align: center;
    }
}
@media only screen and (max-width: 25em) {
    header nav a {
        font-size: 1em;
        margin: 0 .25em;
    }
    h1 {
        font-size: 1.5em;
    }
    #gallery h2 {
        font-size: 1.5em;
    }
}

